In [109]:
import sklearn 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pandas_profiling import ProfileReport
import datetime

In [111]:
data = pd.read_csv('C:/Users/Hp/Downloads/neww.csv')

In [112]:
null_values = data.isnull().sum()

In [113]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [114]:
data['Time'] = data['Date/Time'].str[8:13]

In [115]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,Time
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog,0:00
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog,1:00
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",2:00
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",3:00
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4:00

In [116]:
# Finding the nuumber of times the wind speed was 4km/h

In [117]:
data['Wind Speed_km/h'] = data['Wind Speed_km/h'].astype(int)

In [118]:
four = []
for finding in data['Wind Speed_km/h']:
    if finding is 4:
        four.append(1)

In [119]:
len(four)

474

In [120]:
# SO THE ANSWER IS 474

Null values

In [121]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
Time                0
dtype: int64

In [125]:
data['Visibility_km'].var()

159.33225853479126